@import "../../scss/variables/colors.scss";
.musicPage {
  padding: 2rem 5rem 10rem 5rem;
  background: black;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  width: 100%;
  margin: auto;
}

.header {
  width: 50rem;
  max-width: 50%;
  min-width: 5rem;
  height: 10rem;
  margin: 2rem 0 4rem 50%;
  transform: translateX(-50%);
}

.navigationContainer {
  display: flex;
  justify-content: center;
}

.paginationLink {
  width: 5rem;
  height: 5rem;
  margin: 4rem;

  &:hover,
  &:active {
    .svgLink {
      fill: $color-purple-light;
    }
  }
}
