@import "../../scss/variables/colors.scss";

.showsPage {
  padding: 5rem;
  background: white;
  min-height: 100%;
}

.showList {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  max-width: 60%;
  transform: translateX(-50%);
}

.show {
  width: 100%;
  display: flex;
  margin-bottom: 4rem;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.description {
  padding: 1rem 4rem;
  flex: 1 1 auto;
  font-family: prohibition, sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.link {
  text-decoration: underline;
  color: $color-purple-main;
}

.image {
  width: 15rem;
  max-width: 60%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.navigationContainer {
  display: flex;
  justify-content: center;
}

.header {
  width: 50rem;
  max-width: 50%;
  min-width: 5rem;
  height: 10rem;
  margin: 2rem 0 4rem 50%;
  transform: translateX(-50%);
}

.paginationLink {
  width: 5rem;
  height: 5rem;
  margin: 4rem;
  display: block;

  &:hover,
  &:active {
    .svgLink {
      fill: $color-purple-light;
    }
  }
}

@media only screen and (max-width: 700px) {
  .image {
    min-width: 5rem;
    align-self: flex-start;
  }

  .showList {
    max-width: 90%;
  }

  .description {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
