@import "../mixins/respond.scss";
@import "../variables/colors.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:focus,
button:focus,
button:active {
  outline: 1px solid $color-purple-light;
}

a,
button {
  cursor: pointer;
}

html {
  overflow: hidden;

  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phonexs) {
    font-size: 40%;
  }

  @include respond(big-desktop) {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  background: black;
  position: relative;
}

::selection {
  background-color: $color-purple-dark;
  color: white;
}

.tl-edges {
  overflow-y: hidden;
}
