.container {
  font-family: prohibition, sans-serif;
  text-align: center;
  margin-top: 10rem;
}

.header {
  color: white;
  font-size: 15rem;
}

.link {
  font-size: 10rem;
  text-decoration: none;
}

@media only screen and (max-width: 43.75em) {
  .header {
    font-size: 10rem;
  }

  .link {
    font-size: 5rem;
  }
}
