@import "../../scss/variables/colors.scss";
.circ.invert,
.line.invert {
  stroke: black;
}

.button {
  order: 4;
  align-items: center;
  position: relative;
  display: flex;
  border: none;
  justify-content: space-around;

  background: transparent;
  z-index: 4;

  &.formOpen {
    width: auto;
  }

  & .btnIcon.formOpen {
    transform: translate(3rem, 0rem) rotate(-45deg) scale(2);

    .line,
    .circ {
      stroke: $color-red-error;
    }
  }

  &:focus {
    outline: none;
  }
}

.btnText {
  font-family: prohibition, sans-serif;
  font-size: 2rem;
  color: white;
  flex-basis: 80%;
  transform-origin: center center;
  padding-left: 2rem;

  &.invert {
    color: black;
  }

  &.formOpen {
    position: fixed;
    top: 0rem;
    left: 20%;
    right: 20%;
    font-size: 8rem;
    pointer-events: none;
    flex-basis: 0;
  }
}

.btnIcon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  transition: all 1s;
  align-self: center;
  justify-self: flex-end;

  &.invert {
    .circ {
      stroke: black;
    }

    .line {
      stroke: black;
    }
  }
}

.formWrapper {
  position: relative;
  background: inherit;
  width: 100%;
  min-height: 1px;
  top: 0;
  left: 0;
  z-index: 3;
  transform-origin: top left;

  &.formOpen {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

.form {
  width: 65rem;
  max-width: 80%;
  position: fixed;
  z-index: 3333;
  top: 10rem;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
  background: transparent;
  margin: auto;

  &.formOpen {
    pointer-events: all;
  }
}

@media only screen and (max-width: 56.25em) {
  .btnText {
    font-size: 1.5rem;
  }

  .button {
    .btnText.formOpen {
      font-size: 6rem;
    }

    .btnIcon.formOpen {
      transform: translate(4rem, 0rem) rotate(-45deg) scale(1);
    }
  }
}
