@import "../../../scss/variables/colors.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  border: none;
  padding: 2rem;
  position: relative;
  width: 100%;
  margin: auto;
  background: transparent;
}

.form {
  position: relative;
  margin: auto;
  background: inherit;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2.5rem 0;

  .label {
    font-family: prohibition, sans-serrif;
    position: absolute;
    top: 0;
    font-size: 2rem;
    transition: transform 0.4s, color 0.5s;
    color: white;
  }

  .input,
  .textarea {
    padding: 1rem;
    border: none;
    border-bottom: 1px solid rgba(white, 0.1);
    background: transparent;
    color: white;

    &:focus {
      outline: none;
      border-bottom: 1px solid white;
    }
  }

  .textarea {
    resize: none;
    min-height: 10rem;
  }

  &.invert {
    .input,
    .textarea,
    .label {
      color: black;
    }
    .input,
    .textarea {
      border-bottom: 1px solid rgba(black, 0.1);

      &:focus {
        border-bottom: 1px solid black;
      }
    }
  }

  &.visited {
    .label {
      transform: translateY(-100%);
    }
  }

  &.error {
    .textarea,
    .input {
      border-bottom: 1px solid $color-red-error;
    }
  }
}

.errorMsg {
  font-family: prohibition, sans-serrif;

  min-height: 2rem;
  margin: 0.5rem 0;
  color: $color-red-error;

  p {
    animation: fadeIn 1s;
  }

  &.formErr {
    font-size: 1.5rem;
    text-align: center;
  }
}

.send {
  background: transparent;
  border: none;
  width: 15rem;

  color: white;
  padding: 1rem;
  font-size: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: 45;

  &:focus {
    outline: none;
  }
}

.check {
  opacity: 0;
}

.movingCircle {
  opacity: 1;
}

.confirm {
  overflow: hidden;
  background: black;
  position: absolute;
  bottom: 0rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform-origin: 50% bottom;
  transform: scaleY(0);

  &.invert {
    background: white;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 37.5em) {
  .sendBtn {
    width: 10rem;
  }

  .field {
    margin: 1rem 0;

    .input,
    .textarea {
      border-bottom: 1px solid white;
    }
  }
}
