@import "../../scss/variables/colors.scss";

// Main footer container
.footer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background: rgba(black, 1);
  grid-column: 1/-1;
  grid-row: 4;
  position: relative;

  &.invert {
    background: white;
  }
}

.menuToggleWrapper {
  display: inline-block;
  background: transparent;
  border: none;
  position: relative;
  z-index: 2;
}

.menuToggleBtn {
  display: none;
  width: 5rem;
  height: 5rem;

  transform-origin: 50% 50%;
  transition: all 0.7s;

  &.menuOpen {
    transform: rotate(45deg);
  }
  &.invert {
    circle {
      fill: black;
    }
    line {
      stroke: white;
    }
  }
}

// wrapper for external links
.linksContainer {
  display: flex;
  flex: 0 1 20rem;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 2;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: none;

    &:hover {
      .path {
        fill: $color-purple-light;
      }
    }

    &.invert {
      &:hover {
        .path {
          fill: $color-purple-light;
        }
      }

      .path {
        fill: black;
      }
    }
  }
}

// Wrapper for the contact form/button
.contactForm {
  display: inline-block;
  border: 1px solid white;
  background: black;

  &.invert {
    border: 1px solid black;
    background: white;
  }
}

@media only screen and (max-width: 18.75em) {
  .contactForm {
    display: none;
  }
}

@media only screen and (max-width: 43.75em) {
  .menuToggleBtn {
    display: block;
  }
}
