.visuallyHidden {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
}

.wrapper {
  width: 100%;
  position: relative;
}

.canvas {
  max-width: 100%;
  height: 100vh;
  width: inherit;
  outline: none;
  height: inherit;
}

.svg {
  padding: 2rem 10rem;
  width: inherit;
  height: 40vh;
  position: absolute;
  opacity: 0.85;
  top: 20%;
  left: 0;
}
