.container {
  background: #f4f4ed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 50% 50%;
}

.link {
  background: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  //  / justify-content: space-between;
  // /  align-content: center;

  &.leftTop {
    grid-column: 1;
    grid-row: 1;
  }

  &.leftBottom {
    grid-column: 1;
    grid-row: 2;
  }

  &.rightTop {
    grid-column: 3;
    grid-row: 1;
  }

  &.rightBottom {
    grid-column: 3;
    grid-row: 2;
  }
}

.content {
  grid-column: 2;
  grid-row: 1/-1;
}

a {
  color: red;
}

.content {
  color: #6600cc;
  padding: 5rem;
}
