@import "../../scss/mixins/rotateText.scss";
@import "../../scss//mixins//rotateArrow.scss";
@import "../../scss//variables/colors.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 1fr 1fr;
  opacity: 0;
  background: gray;
}

.link {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: red;
}

.leftTop {
  grid-column: 1;
  grid-row: 1;
  background: black;

  .linkContent {
    p {
      @include rotateLHS;
    }
  }

  .arrow {
    // @include rotateArrow(-45deg);
  }
}

.leftBottom {
  grid-column: 1;
  grid-row: 2;
  .linkContent {
    p {
      //    // @include rotateLHS;
    }
  }
  .arrow {
    // @include rotateArrow(-135deg);
  }
}

.rightTop {
  grid-column: 3;
  grid-row: 1;
  background: yellow;

  .linkContent {
    p {
      //    @include rotateRHS;
    }
  }

  .arrow {
    //  @include rotateArrow(45deg);
  }
}

.rightBottom {
  grid-column: 3;
  grid-row: 2;

  .linkContent {
    p {
      // @include rotateRHS;
    }
  }
  .arrow {
    // @include rotateArrow(135deg);
  }
}

.linkContent {
  padding: 0rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: prohibition, sans-serif;
  font-weight: 400;
  font-style: normal;

  p {
    color: black;
    font-size: 1rem;
    pointer-events: none;
  }
}

.content {
  grid-column: 2;
  grid-row: 1/-1;
}

.arrow {
  pointer-events: none;
}

/*
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 3rem 1fr 3rem;
  }

  .linkContent {
    p {
      font-size: 2rem;
    }
  }

  .arrow {
    display: none;
    order: -1;
  }

  .rightBottom,
  .leftBottom {
    .linkContent {
      flex-direction: column-reverse;
    }
  }
}
*/
