@import "../../scss/mixins/rotateText.scss";
@import "../../scss//mixins//rotateArrow.scss";
@import "../../scss//variables/colors.scss";

.container {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  max-height: 100%;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 7rem 1fr 1fr 7rem;
  opacity: 1;
}

.link {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8rem 0;
  background: black;
  z-index: 0;
  position: relative;

  &.invert {
    background: white;

    p {
      color: black;
    }
    .arrow {
      * {
        fill: black;
      }
    }
  }

  .arrow {
    pointer-events: none;
  }

  p {
    font-family: prohibition, sans-serif;
    font-weight: 400;
    font-size: 4rem;
    display: inline-block;
    pointer-events: none;
    color: white;
  }

  & > p,
  .arrow {
    animation: fadeOut 2s 2s 1 forwards;
  }

  &:hover {
    background: $color-purple-main;

    & p,
    .arrow {
      animation: fadeIn 4s 1 reverse backwards;

      opacity: 1;
    }

    &.invert {
      p {
        color: white;
      }
      .arrow {
        * {
          fill: white;
        }
      }
    }
  }
}

.leftTop {
  grid-column: 1;
  grid-row: 1 / span 2;

  p {
    @include rotateLHS;
  }

  .arrow {
    @include rotateArrow(-45deg);
  }
}

.leftBottom {
  grid-column: 1;
  grid-row: 3 / span 2;

  p {
    @include rotateLHS;
  }
  .arrow {
    @include rotateArrow(-135deg);
  }
}

.rightTop {
  grid-column: 3;
  grid-row: 1 / span 2;

  p {
    @include rotateRHS;
  }
  .arrow {
    @include rotateArrow(45deg);
  }
}

.rightBottom {
  grid-column: 3;
  grid-row: 3 / span 2;

  p {
    @include rotateRHS;
  }
  .arrow {
    @include rotateArrow(135deg);
  }
}

.content {
  grid-column: 1/-1;
  grid-row: 1 / span 3;
  position: relative;
  background: black;
  & > * {
    height: 100%;
    overflow: auto;
  }
}

.toggle {
  height: 6rem;
  position: absolute;
  background: rgba(black, 0.5);
  top: 0;
  margin: 0 5rem;
  right: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggleMenu {
  width: 4rem;
  height: 4rem;

  background: transparent;
  border: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 4rem 1fr 4rem;
  }

  .link {
    position: relative;
    justify-content: space-around;
    padding: 0;

    p {
      font-size: 3rem;
      transform: none;
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: white;
    }
    & > p,
    .arrow {
      animation: none;
    }
  }

  .arrow {
    display: none;
  }

  .rightBottom,
  .leftBottom {
    flex-direction: column-reverse;
  }
}

@media (hover: none) {
  .link {
    justify-content: center;

    .arrow {
      margin: 5rem 0;
    }

    & > p,
    .arrow {
      animation: none;
    }
  }
}
@media (max-height: 800px) {
  .link {
    p {
      font-size: 3rem;
    }
    .arrow {
      display: none;
    }
  }
}

@media (max-height: 300px), (max-width: 300px) {
  .link {
    p {
      font-size: 1rem;
    }
  }
}
