@import "../../scss/mixins/rotateText.scss";
@import "../../scss//mixins//rotateArrow.scss";
@import "../../scss//variables/colors.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 1fr 1fr;
  opacity: 1;
}

.link {
  background: transparent;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 0;
  background: black;

  .arrow {
    pointer-events: none;
  }

  p {
    font-family: prohibition, sans-serif;
    font-weight: 400;
    font-size: 4rem;
    display: inline-block;
    pointer-events: none;
    color: white;
  }

  &:hover {
    background: $color-purple-main;

    &.invert {
      p {
        color: white;
      }
      .arrow {
        * {
          fill: white;
        }
      }
    }
  }
}

.leftTop {
  grid-column: 1;
  grid-row: 1;

  p {
    @include rotateLHS;
  }

  .arrow {
    @include rotateArrow(-45deg);
  }
}

.leftBottom {
  grid-column: 1;
  grid-row: 2;

  p {
    @include rotateLHS;
  }
  .arrow {
    @include rotateArrow(-135deg);
  }
}

.rightTop {
  grid-column: 3;
  grid-row: 1;

  p {
    @include rotateRHS;
  }
  .arrow {
    @include rotateArrow(45deg);
  }
}

.rightBottom {
  grid-column: 3;
  grid-row: 2;

  p {
    @include rotateRHS;
  }
  .arrow {
    @include rotateArrow(135deg);
  }
}

.content {
  grid-column: 2;
  grid-row: 1/-1;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 3rem 1fr 3rem;
  }

  .link {
    padding: 10rem 0;

    p {
      font-size: 2rem;
    }
  }

  .arrow {
    display: none;
  }

  .rightBottom,
  .leftBottom {
    flex-direction: column-reverse;
  }
}

.invert {
  background: white;
  p {
    color: black;
  }
  .arrow {
    * {
      fill: black;
    }
  }
}
